<div *ngFor="let chanson of this.chansons">
  <h1 style="text-align: center">{{chanson.name}} ({{chanson.releaseDate | date}})</h1>
  <h2 style="text-align: center">Duration {{chanson.duration}} s</h2>
  <h2 style="margin-left: 200px;margin-right: 200px">{{chanson.bio}}</h2>

  <!-- Related albums -->
  <div style="margin: 20px 200px;">
    <span style="font-size: 20px">Related albums: </span>
    <div *ngFor="let albumsName of chanson.relatedAlbum" style="display:inline-block;font-size: 18px">
      {{albumsName}}
    </div>
  </div>

  <!-- Genres -->
  <div style="margin: 20px 200px;">
    <span style="font-size: 20px">Genres: </span>
    <div *ngFor="let genre of chanson.genres" style="display:inline-block;font-size: 18px">
      <a href="{{this.redirectGenreUrl + genre}}">{{genre}}, </a>
    </div>
  </div>

  <!-- Artists -->
  <div style="margin: 20px 200px;">
    <span style="font-size: 20px">Artists: </span>
    <div *ngFor="let artist of chanson.artists" style="display:inline-block;font-size: 18px">
      <a href="{{this.redirectArtisteUrl + artist}}">{{artist}}, </a>
    </div>
  </div>

  <!-- Writers -->
  <div style="margin: 20px 200px;">
    <span style="font-size: 20px">Writers: </span>
    <div *ngFor="let writer of chanson.writers" style="display:inline-block;font-size: 18px">
      <a href="{{this.redirectArtisteUrl + writer}}">{{writer}}, </a>
    </div>
  </div>
</div>










