<div *ngFor="let chanson of this.chansons">
  <h1 style="text-align: center">{{chanson.name}} ({{chanson.releaseDate | date}})</h1>
  <h2 style="text-align: center">Duration {{chanson.duration}} s</h2>
  <h2 style="margin-left: 200px;margin-right: 200px">{{chanson.bio}}</h2>

  <div *ngIf="chanson.genres">
    <!-- Genres -->
    <div style="margin: 20px 200px;">
      <span style="font-size: 20px">Genres: </span>
      <div *ngFor="let genre of chanson.genres" style="display:inline-block;font-size: 18px">
        <a href="{{this.redirectGenreUrl + genre}}" [style.marginRight.px]="7">
          {{(chanson.genres.indexOf(genre) == chanson.genres.length - 1) ? genre : genre + ", " }}
        </a>
      </div>
    </div>
  </div>

  <!-- Artists -->
  <div style="margin: 20px 200px;">
    <span style="font-size: 20px">Artists: </span>
    <div *ngFor="let artist of chanson.artists" style="display:inline-block;font-size: 18px">
      <a href="{{this.redirectArtisteUrl + artist}}" [style.marginRight.px]="7">{{(chanson.artists.indexOf(artist) == chanson.artists.length - 1)? artist: artist +", "}} </a>
    </div>
  </div>

  <!-- Writers -->
  <div style="margin: 20px 200px;">
    <span style="font-size: 20px">Writers: </span>
    <div *ngFor="let writer of chanson.writers" style="display:inline-block;font-size: 18px">
      <a href="{{this.redirectArtisteUrl + writer}}" [style.marginRight.px]="7">{{(chanson.writers.indexOf(writer) == chanson.writers.length - 1)?writer: writer +", "}}</a>
    </div>
  </div>

  <!-- Albums -->
  <div *ngIf="chanson.albums == []">
  <div style="margin: 20px 200px;">
    <span style="font-size: 20px">Appear in albums: </span>
    <div *ngFor="let album of chanson.albums" style="display:inline-block;font-size: 18px">
      <span [style.marginRight.px]="7">{{(chanson.albums.indexOf(album) == chanson.albums.length - 1)?album: album +", "}}</span>
    </div>
  </div>
  </div>
</div>














