.input {
    margin-right: 20px;
}

.row {
    position: absolute;
    left: 40%;
    top: 200px;
}

.label-recherche {
    font-size: 19px;
}

.infos {
    position: relative;
    top: 250px;
    font-size: large;
    left:40px;
}