<p class="infos">Rechechez vos musiques préférées sur Spot'IF-y, la nouvelle appli en vogue des jeunes. Vous obtiendrez les meilleures infos.</p>
<div class="row">
    <form class="formulaire" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <label for="entree" class="label-recherche"> Entrez le nom d'un artiste :</label> <br>
        <input id="entree" type="text" name="entreeUtilisateur" class="input" ngModel required>
        <button mat-raised-button color="primary" type="submit">
            Rechercher
        </button>
    </form>
</div>
