.input {
    margin-right: 20px;
}

.row {
    position: absolute;
    left: 40%;
    top: 200px;
}

.label-recherche {
    font-size: 19px;
}

.choix-recherche {
    position: relative;
    left: -200px;
}

.entree {
    top: -100px;
    position: relative;
}

.infos {
    position: relative;
    top: 350px;
    font-size: large;
    left:40px;
}