.row {
  display: block;
}

.artist-name{
  text-align: center;
  margin-top: 17px;
}

.nomArtiste {
  font-size: 35px;
  font-family: cursive;
}

.artist-bio{
  height: 320px;
  text-align: left;
  margin-left: 30px;
}

.infos-albums {
  margin-left: 60px;
}

.extraits-musique {
  display: block;
}

td {
  border-top: 1px solid black;
}